body {
  padding-top: 5rem;
  padding-bottom: 3rem;
  /*background-image: url('bg.jpg');*/
  /*background-color: rgba(255,255,255,0.97);*/
  background-blend-mode: lighten;
  background-repeat: repeat;
  background-color: gray;
  /*color: black;*/
  /*font-size: rem(14);*/ /* Sets base font size and scales proportionally */
}

#countDownDiv::backdrop {
    background-color: gray;
}

.tooltip-inner {
    text-align: left;
    max-width: 100% !important;
}


.footer-text span {
  display: none;
}
.footer-text:after {
  content: '© Masalma.com                v.20240421.01';
}
